* {
    box-sizing: border-box;
}

.root {
    background-color: #FEEED6;
}

.main-block {
    font-family: Arial;
    margin: auto;
    width: 750px;
}

.header {
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.crossed-out {
    text-decoration: line-through;
}

.item-name {
    color: #4393B4;
    font-weight: bold;
}

.sub-header + .sub-header {
    margin-top: 10px;
}

p {
    text-indent: 20px;
}
